.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* CSS for Navbar*/
.navbar-container{
  display: flex;
  flex-direction: row;
  max-height: 50px;
  align-items: center;
  padding: 5px;
}
.home-container{
  display: flex;
}
#home-button{
  padding: 10px;
  font-size: 24px;
  border-radius: 20px;
  border: none;
}
.home-label{
  display: flex;
  padding: 10px;
  align-items: center;
  font-size: 24px;
}

/* CSS for search container in navbar*/
.search-container{
  display: flex;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #f9f9f9;
}
.search-input {
  align-items: center;
  border: none;
  outline: none;
  padding: 5px;
  margin-right: 5px;
}
.search-button {
  background-color: transparent;
  border: none;
}

/* CSS for App */
.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color:lightgrey;
}
.main-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

 /* CSS for Homepage/Main Content */

.chips-container{
  display: flex;
}
.chip{
  background-color: #f0f0f0;
  color: #333;
  font-size: 14px;
  border-radius: 10px;
  margin: 8px;
  padding: 6px 6px;
}
.results-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.results-container li {
  display: flex; 
  align-items: flex-start;
  border-radius: 10px;
  margin-bottom: 10px;
  list-style: none;
}
.results-image {
  width: auto;
  height: auto;
  margin-right: 10px;
}
.results-data {
  flex: 1;
  display: flex; 
  flex-direction: column;
}
.results-data p {
  margin-bottom: 5px;
  text-align: left;
}
 
/* CSS for side bar */
.sidebar {
  list-style-type: none;
  padding: 10px;
  font-size: 20px;
  height: 100%;
}
.sidebar-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 5px;
  transition: background-color 0.3s ease;
}
.sidebar-link:hover {
  background-color: #f1f1f1;
}
.sidebar-text{
  margin-left: 10px;
}
